body{
height:100vh;
margin:0;
}

.container{
display:flex;
flex-wrap:nowrap
}

.header{
box-sizing: border-box;
flex:1;
background-image: url("images/animal-avian-bird-875858.jpg");
color:white;
background-size: cover;
opacity: 20;

}


.main{
background-color:white;
box-sizing:border-box;
flex:2;
}

@media screen and (max-width:800px){
.container{
    flex-direction: column;

} 
} 