body{
height:100vh;
margin:0;
}

#top{
display:flex;
flex-wrap:wrap;
}

#header{
background-color: grey;
box-sizing: border-box;
flex:1;
}


#main{
background-color:white;
box-sizing:border-box;
flex:1;
}

